{% extends 'polls/base.html'%}
    {% block title%}
        <title>注册</title>
    {% endblock %}
{% block body %}
<form action="#" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="username" placeholder="请输入用户名：" required>
    <br>
    密码：<input type="text" name="password" placeholder="请输入密码：" required>
    <br>
    密码：<input type="text" name="password1" placeholder="请再次输入密码：" required>
    <br>
    <input type="submit" value="注册" >
    {{errors}}
</form>
{% endblock%}


{% comment %}
<form action="#" method="post">
{% csrf_token %}
    {{rf.username.label}}:{{rf.username}}
    <br>
    {{rf.username.help_text}}
    <br>
    {{rf.password.label}}:{{rf.password}}
    <br>
     {{rf.password.help_text}}
    <br>
     {{rf.password1.label}}:{{rf.password1}}
    <br>
    <input type="submit" value="注册">
</form>
{% endblock %}
{% endcomment %}